.created-element {
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  flex-direction: column;
  min-height: 100vh;
}
.created-element div {
  display:flex
}
body{

  background-color: antiquewhite;
}
input{
  margin: 5px;
  border-radius: 0px;
  border: 1px solid gray;
}